

.contentAllBoxRedes {
    position: absolute;
    top: 100px;
    right: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 35px;
    height: 160px;
    padding: 10px 0px;
    background-color: #2EB5AF;
    z-index: 7;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.contentAllBoxRedes:hover {
     background-color: #1E4899;
}


.iconBoxRedes {
    cursor: pointer;
    display: block;
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
}

.iconBoxRedes:hover {
     transform: scale(1.2);
}

@media screen and (max-width: 680px) {
   
    .contentAllBoxRedes {
        display: none;
    }


}

