
.contentMarcasHR {
    position: relative;
    top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 700px;
    padding: 40px 0px;
    gap: 40px 0px;
    background-color: #e6e4e4;
}


.boxTitleTextMarcasHR {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;

}

.titleMarcasHR {
    font-family: "Monserrate", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    /* color: #1D1D3D; */
    color: #2EB5AF;
    margin-bottom: 10px;
}

.textMarcasHR {
    font-family: "Monserrate", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    /* color: #2EB5AF; */
    color: #A5A5A5;
    margin-bottom: 0px;
}

.contentLogosMarcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 980px;
    height: 200px;
    gap: 30px;
    padding: 30px 20px;
    overflow-y: scroll;
}


@media screen and (max-width: 1580px) {

    .contentMarcasHR {
         width: 100%;
         height: 80svh;
    }

    .contentLogosMarcas {
        width: 70%;
        height: 280px;
    }


}


@media screen and (max-width: 1280px) {

    .contentMarcasHR {
         width: 100%;
         height: 60svh;
    }

}




@media screen and (max-width: 980px) {
     .contentMarcasHR {
        height: 680px;
    }

}



@media screen and (max-width: 860px) {
    .contentMarcasHR {
        width: 100%;
    }

    .boxTitleTextMarcasHR {
        width: 70%;

    }

     .contentLogosMarcas {
        width: 80%;
        height: 360px;
    } 


}


@media screen and (max-width: 680px) {
    

    .contentMarcasHR {
        padding: 20px 0px;
        justify-content: center;
        background-color: #e6e4e4;
    }

    .contentLogosMarcas {
        width: 70%;
        height: 360px;
    }

}

@media screen and (max-width: 620px) {


    .contentMarcasHR {
        justify-content: center;
        height: 80svh;
        padding: 30px 0px;
        background-color: #e6e4e4;
        gap: 60px 0px;
    }

    .boxTitleTextMarcasHR {
        width: 80%;

    }


    .textMarcasHR {
        margin-bottom: 0px;
    }


    .contentLogosMarcas {
        width: 80%;
        height: 480px;
        gap: 40px 30px;
    }

    .titleMarcasHR {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .textMarcasHR {
        font-size: 1em;
    }

}


@media screen and (max-width: 520px) {


    .contentMarcasHR {
        height: 100svh;
    }

    .contentLogosMarcas {
    
        width: 60%;
        height: 480px;
    }

}


@media screen and (max-height:780px) and (max-width:420px) {
    .contentMarcasHR {
        height: 120svh;
            padding: 10% 0%;

    }
}

