/* Contenedor principal del slider */
.containerAllSlide {
  position: relative;
  top: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1920px;
  overflow-x: hidden;
  height: 420px;

}

/* Wrapper que contiene todos los slides */
.slidesWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Cada slide ocupa todo el espacio y se apila */
.slide {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
  opacity: 0;                 
  transition: opacity 0.7s ease;
  display: flex;              /* ✅ centra contenido */
  justify-content: center;
  align-items: center;
  pointer-events: none; 
}


/* Slide activo */
.slide.active {
  opacity: 1;    
  pointer-events: auto;            /* visible */
}

/* Botones inferiores */
.boxBTNSlides {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  right: 20%;
  /* transform: translateX(-50%); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Estilo de cada botón */
.bntSlide {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #1E4899;
  color: #ffffff;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bntSlide1 {
     background-color: #2150ae;
}

.bntSlide2 {
     background-color: #1E4899;
}

.bntSlide3 {
     background-color: #1c418d;
}

.bntSlideActive {
    /* background-color: #2EB5AF; */
      background-color: #1D1D3D;

}

.bntSlide:hover {
  background-color: #1D1D3D;
}


@media screen and (min-width: 1919px) {

  .containerSlide {
      width: 100%;
  }

  .slidesWrapper {
      width: 100%;
  }


}

@media screen and (max-width: 920px) {

  .containerAllSlide {
    top: 70px;
  }

  .boxBTNSlides {
     right: 10%;

  }

}


@media screen and (max-width: 480px) {

  .containerAllSlide {
    top: 70px;
  }


  .containerAllSlide, .slidesWrapper, .slide  {
    height: 520px;
  }


  .boxBTNSlides {
    width: 100%;
    right: 0%;
    width: auto;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;

  }
 
  .bntSlide {
    width:  50px;
    height: 50px;
  }

}


@media screen and (max-height: 780px) and (max-width: 480px) {
  .containerAllSlide, .slidesWrapper, .slide  {
    height: 520px;
  }
}