.contentNosotros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100svh;
    padding: 5%;
}


.boxTextNosotros {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 10%;
}

.boxBTNNosotros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.bntIndex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
}

.bntIndex:hover {
    background-color: #1E4899;
}


.bntIndex1 {
    background-color: #2E2E60;
}

.bntIndex2 {
    background-color: #2A2A54;
}

.bntIndex3 {
    background-color: #252547;
}

.bntIndexActive {
     background-color: #1E4899;
}

.contentPictureNosotros {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0% 5%;
}

.pictureNosotros {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
    width: 380px;
    height: 380px;
}


.LinkTopage {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 30px;
    background-color: rgba(30, 72, 153, 0.9);
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.7em;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 15px;
    column-gap: 10px;
}

.LinkTopage:hover {
     background-color: #1D1D3D;
}


@media screen and (min-width: 1680px) {

    .contentNosotros {
        width: 100%;
        height: 60svh;
        padding: 5%;
    }

}


@media screen and (max-width: 1080px) and (min-height: 900px ) {

    .contentNosotros {
        height: 50svh;
    }


    .boxTextNosotros {
        padding: 5%;
    }

}


@media screen and (max-width: 980px) {


    .contentNosotros {
        align-items: center;
        height: 720px;
        padding: 0%;
    }

    .boxTextNosotros {
        padding: 5%;
        width: 50%;
    }

    .contentPictureNosotros {
        justify-content: center;
        padding: 0%;
        width: 50%;
    }

    .pictureNosotros {
        padding: 0% 0%;
        width: 340px;
        height: 340px;
    }

    .LinkTopage {
        border-radius: 0px;
        width: 340px;
        height: 50px;
    }


}


@media screen and (max-width: 780px) {

    .contentNosotros {
        height: 70svh;
    }

    
    .boxTextNosotros {
        padding: 5% 5%;
    }

    .boxBTNNosotros {
        margin-top: 30px;
    }


    .pictureNosotros {
        width: 300px;
        height: 300px;
    }


    .LinkTopage {
        border-radius: 0px;
        width: 300px;
      
    }


}

@media screen and (max-width: 680px) {

    .contentNosotros {
        position: relative;
        top: 70px;
        flex-flow: column nowrap;
        height: 90svh;
    }

    .boxTextNosotros {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 15% 15%;
        order: 1;
    }

    .contentPictureNosotros {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 10%;
    }

    .pictureNosotros {
        width: 360px;
        height: 320px;
        background-position: center;
        background-size: cover;
    }

    .LinkTopage {
        width: 360px;
    }

}

@media screen and (max-width: 480px) {

    .contentNosotros {
        height: 100svh;
    }

    .boxTextNosotros {
        height: 50%;

    }

    .contentPictureNosotros {
        height: 50%;

    }


    .pictureNosotros {
        width: 340px;
        height: 300px;
   
    }

    .LinkTopage {
        width: 340px;
    }





}
@media screen and (max-width: 420px) {


    .contentNosotros {
        height: 100svh;
    }


   .boxTextNosotros {
        height: 55%;
        padding: 5% 15%;

    }


    .contentPictureNosotros {
        height: 45%;

    }


    .pictureNosotros {
        width: 300px;
        height: 280px;
        background-position: center;
        background-size: cover;
    }


    .LinkTopage {
        width: 300px;
    }


}


@media screen and (max-height:780px) and (max-width: 420px) {

    .contentNosotros {
        height: 120svh;
    }


    .contentPictureNosotros {
        height: 40%;
    }


    .boxTextNosotros {
        height: 60%;
        padding: 5% 15%;
    }


    .pictureNosotros {
        width: 260px;
        height: 260px;
       
    }

    .LinkTopage {
        width: 260px;
    }



    .bntIndex {
        width: 50px;
        height: 50px;
    }



}


