.allContentBnnerCalidad {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1920px;
    height: 300px;
    background-image: url("/calidadAssets/bannerTopCalidad.jpg");
    background-position: center -120px;
    background-size: cover;
    background-attachment: fixed;

}


.boxBannerSloga {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    opacity: 0;
    background-color: rgba( 44, 180, 784, 0.8);
    border-bottom-right-radius: 150px;
    animation: animateBoxBanner 0.7s ease-in-out forwards;

}


.textSloganBanner {
    font-family: "Outfit", sans-serif ;
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
    width: 65%;
    opacity: 0;
    animation: animateBoxBanner 0.7s ease-in-out forwards;
    animation-delay: 0.3s;
}


@keyframes animateBoxBanner {
    
    from {
        transform: translateX(-50px); 
        opacity: 0;                  
    }

    to {
        transform: translateX(0);     
        opacity: 1;                   
    }

}


@media screen and (min-width: 1441px) {
    .allContentBnnerCalidad {
         height: 380px;
    }

    .textSloganBanner {
        font-size: 1.8em;
    }

}


@media screen and (max-width: 1280px) {

    .boxBannerSloga {
        width: 50%;

    }



}

@media screen and (max-width: 980px) {


    .allContentBnnerCalidad {
        height: 260px;

    }

    .textSloganBanner {
         font-size: 1.4em;
    }


}

@media screen and (max-width: 920px) {

    .allContentBnnerCalidad {
         height: 320px;
    }

    .boxBannerSloga {
        width: 70%;
        padding-top: 60px;
    }


}


@media screen and (max-width: 860px) {
    .allContentBnnerCalidad {
        background-position: top 120px;
    }

    .boxBannerSloga {
        width: 55%;
    }

    .textSloganBanner {
        width: 90%;
    }

}


@media screen and (max-width: 680px) {

    .allContentBnnerCalidad {
        height: 260px;
    }


    .boxBannerSloga {
        width: 70%;
    }


}

@media screen and (max-width: 620px) {

    .allContentBnnerCalidad {
        background-image: url("/calidadAssets/BackPortadaMobiles.jpg");
        height: 60svh;
        background-position: top 0px;

    }

    .boxBannerSloga {
        width: 60%;
    }

    .textSloganBanner {
        width: 80%;
        font-size: 1.6em;
    }

}


@media screen and (max-width: 480px) {

   .allContentBnnerCalidad {
        height: 60svh;
    }

    .boxBannerSloga {
        position: relative;
        width: 50%;
    }

    .textSloganBanner {
        width: 80%;
        text-align: left;
         font-size: 1.2em;
    }


}

@media screen and (max-width: 420px) {

    .allContentBnnerCalidad {
        background-position: left 0px;
        height: 70svh;
    }


   .boxBannerSloga {
        width: 60%;
    }

    .textSloganBanner {
        text-align: justify;
        font-size: 1.3em;
    }

}

@media screen and (min-height: 820px) and (max-width: 480px) {
    

  .allContentBnnerCalidad {
        background-position: left 0px;
        height: 55svh;
    }


}